<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="base.ListernTestNG"></listener>
  </listeners>

<parameter name="browser"  value="chrome"/>
<parameter name="appUrl"  value="https://opensource-demo.orangehrmlive.com/"/>
<parameter name="user-name"  value="Admin"/>
<parameter name="pass"  value="admin123"/>

  <test thread-count="5" name="Test">
  <groups>
<run>
<include name = "Smoke"/>
</run>
</groups>
    <classes>
      <class name="testcases.LoginPageTestCase"/>
       <class name="testcases.SystemUserTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
